APP_JWT_JWT_SIGNING_KEY=N.s%!L)Gz.R!(Qw>;IG*K,;ic{mW>*XrhWd|%MaLaVl
APP_JWT_ACCESS_EXP_TIME=15m
APP_JWT_REFRESH_EXP_TIME=1d
EXCHANGE_RATE_API_BASE_URL=https://api.exchangerate.host
EXCHANGE_RATE_API_ACCESS_KEY=your_exchange_rate_api_access_key
REDIS_PASSWORD=your_redis_password
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test
